<ion-view view-title="我的">
  <ion-content>
    <div class="list">
      <div class="item" href="#" ng-click="openModifyMyPhoneModal()">
        <i class="ion-person"></i>
        龙泉山庄(1301360605)
        <span class="item-note">
         <i class="ion-chevron-right"></i>
        </span>
      </div>
      <div class="item" href="#">

      </div>
      <div class="item" href="#">
        <i class="ion-compose"></i>
        修改密码
        <span class="item-note">
          <i class="ion-chevron-right"></i>
        </span>
      </div>

      <div class="item" href="#">
        <i class="ion-home"></i>
        店铺装修
        <span class="item-note">
          <i class="ion-chevron-right"></i>
        </span>
      </div>

      <div class="item" href="#">
        <i class="ion-ios-home-outline"></i>
        房型管理
        <span class="item-note">
          <i class="ion-chevron-right"></i>
        </span>
      </div>

      <div class="item" href="#">
        <i class="ion-social-yen"></i>
        房价设置
        <span class="item-note">
          <i class="ion-chevron-right"></i>
        </span>
      </div>

      <div class="item" href="#">
        <i class="ion-ios-browsers-outline"></i>
        平台协议
        <span class="item-note">
          <i class="ion-chevron-right"></i>
        </span>
      </div>

      <div class="item" href="#">
        <i class="ion-help"></i>
        常见问题
        <span class="item-note">
          <i class="ion-chevron-right"></i>
        </span>
      </div>
      <div class="item" href="#">
        <i class="ion-edit"></i>
        检查更新
        <span class="item-note">
          1.0.0  <i class="ion-chevron-right"></i>
        </span>
      </div>

      <div class="item" href="#">
        <i class="ion-wrench"></i>
        关于我们
        <span class="item-note">
          <i class="ion-chevron-right"></i>
        </span>
      </div>

      <div class="item" href="#">
        <i class="ion-ios-telephone"></i>
        客服电话
        <span class="item-note">
          400-1234567
        </span>
      </div>
      <button class="button button-full button-positive" ng-click="logout()">
        退出登录
      </button>
    </div>
  </ion-content>
</ion-view>
