<ion-view view-title="消息通知">
    <ion-content>
        <ion-refresher
                pulling-text="下拉刷新"
                on-refresh="chats.refresh()">
        </ion-refresher>
        <ion-list ion-list ng-repeat="chat in chats.data">
            <ion-item class="item item-button-right">
                <h3>{{chat.title}}</h3>
                <h3>{{chat.content}}</h3>
                <button class="button button-clear icon ion-chevron-right button-assertive"></button>
            </ion-item>
        </ion-list>
        <ion-infinite-scroll
                ng-if="chats.moreDataCanBeLoaded"
                on-infinite="chats.loadMore()"
                distance="5%"
                spinner="dots">
        </ion-infinite-scroll>
    </ion-content>
</ion-view>
