<ion-view view-title="订单管理">
    <ion-content style="top: 0">
        <ion-refresher
                pulling-text="下拉刷新"
                on-refresh="orders.refresh()">
        </ion-refresher>


        <div class="tabs-striped tabs-top">
            <ion-tabs class="tabs-top">
                <ion-tab title="待确认单" on-select="switchTo('toBeConfirmed')"></ion-tab>
                <ion-tab title="今日单" on-select="switchTo('toDay')"></ion-tab>
                <ion-tab title="预订单" on-select="switchTo('future')"></ion-tab>
                <ion-tab title="历史单" on-select="switchTo('history')"></ion-tab>
            </ion-tabs>
        </div>


        <ul class="list has-tabs-top">
            <li class="item" ng-repeat="order in orders.data" ng-click="gotoOrderDetail(order.id)">
                <div class="row row-no-padding" style="margin-bottom: 5px">
                    <div class="col-75">
                        <h3>{{order.orderType}}</h3>
                    </div>
                    <div class="col-25" style="padding-top: 0px;">
                        <p style="font-size: 15px;text-align: right;">
                            {{order.orderStatus}}
                        </p>
                    </div>
                </div>
                <div class="row row-no-padding" style="margin-bottom: 5px">
                    <div class="col-50">
                        <h3>{{order.contact}}</h3>
                    </div>
                    <div class="col-50" style="padding-top: 0px;">
                        <p style="font-size: 15px;text-align: right;">
                            {{order.contactPhone}}
                        </p>
                    </div>
                </div>
                <div class="row row-no-padding" style="margin-bottom: 5px">
                    <div class="col-75">
                        <h3>{{order.beginTime}} 至 {{order.endTime}}</h3>
                    </div>
                    <div class="col-25" style="padding-top: 0px;">
                        <p style="font-size: 15px;text-align: right;">
                        </p>
                    </div>
                </div>
                <div class="row row-no-padding" style="margin-bottom: -10px">
                    <div class="col-75">
                        <h3>{{order.paystatus}}</h3>
                    </div>
                    <div class="col-25" style="padding-top: 0px;">
                        <p style="font-size: 15px;text-align: right;">
                            ￥{{order.totalPrice}}
                        </p>
                    </div>
                </div>
            </li>
        </ul>

        <ion-infinite-scroll
                ng-if="orders.moreDataCanBeLoaded"
                on-infinite="orders.loadMore()"
                distance="5%"
                spinner="dots">
        </ion-infinite-scroll>
    </ion-content>
</ion-view>
