<ion-view view-title="{{home.hotelName}}" cache-view="false">
    <ion-content>
        <ion-refresher pulling-text="下拉刷新" on-refresh="doRefresh()"></ion-refresher>
        <div class="card">
            <div class="item item-text-wrap">
                <h2 class="title" style="color:#666666;">账户余额(元):</h2>
                <h1 class="title" style="color:#666666;">￥{{home.amount}}.00</h1>
                <div class="row">
                    <div class="col" style="color:#666666;" ng-click="goSettlement()">
                        <button class="button button-outline icon-right ion-navicon button-assertive">
                        账单详情
                        </button>
                    </div>
                    <div class="col" style="color:#666666;" ng-click="goSettlementApply()">
                        <button class="button  icon-right ion-chevron-right button-assertive">
                            立即提现
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <div class="card">
            <div class="item item-button-right" ng-click="goToBeConfirmed()">
                <h3 class="title" style="color:#666666;">今日订单</h3>
                <button class="button button-clear button-assertive">
                    {{home.todayCount}}笔&nbsp;&nbsp;<i class="ion-chevron-right"></i>
                </button>
            </div>
            <div class="item item-button-right" ng-click="goToBeConfirmed()">
                <h3 class="title" style="color:#666666;">待确认订单</h3>
                <button class="button button-clear button-assertive">
                    {{home.toBeConfirmedCount}}笔&nbsp;&nbsp;<i class="ion-chevron-right" ></i>
                </button>
            </div>
        </div>

        <div class="list card">
            <a href="#" class="item item-icon-left">
                <i class="icon ion-iphone"></i>
                <h3 class="title" style="color:#666666;">销售电话:13311057016</h3>
            </a>

            <a href="#" class="item item-icon-left">
                <i class="icon ion-ios-telephone-outline"></i>
                <h3 class="title" style="color:#666666;">客服电话:400-123445</h3>
            </a>
        </div>

    </ion-content>
</ion-view>
