<ion-view view-title="提现">
  <ion-content>
    <div class="list">
      <div class="item" href="#">
        银行账号：6225770139482987
      </div>
      <label class="item item-input">
        <span class="input-label">提现金额</span>
        <input type="text" ng-model="account.form.bankBranch" maxlength="100" placeholder="请输入提现金额">
      </label>
    </div>
    <button class="button button-full button-positive">
      申请体现
    </button>
    <button class="button button-full button-positive">
      查看体现进度
    </button>
  </ion-content>
</ion-view>
